<h1>All Flats</h1>
  <div class="container">
      <% @flats.each do |flat| %>
        <div class="cards">
          <div class="flat">
              <h5 class="card-title"><%= flat.name %></h5>
              <p class="card-text"><%= flat.description %></p>
              <p class="card-text"><i class="fas fa-user-friends"> <%= flat.number_of_guests %></i> - <i class="fas fa-moon"> <%= flat.price_per_night %>€</i></p>
              <p class="card-link">
                <div class= "links">
                  <div class="info">
                    <%= link_to flat_path(flat) do%>
                      <i class="fas fa-info">More info</i>
                    <% end %>
                  </div>
                  <div class="info">
                    <%= link_to edit_flat_path(flat) do %>
                      <i class="far fa-edit">Edit</i>
                    <% end %>
                  </div>
                    <div class="info">
                    <%= link_to flat_path(flat), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <i class='far fa-trash-alt'>Delete</i>
                    <% end %>
                  </div>
                </div>
              </p>
            </div>
          </div>
      <% end %>
    </div>
  <br>
  <p><%= link_to new_flat_path do %>
  <i class="fas fa-plus"> Add a new flat</i>
  <% end %>
  </p>
