<div class="container">
  <div class="flat">
 <%= simple_form_for(@flat) do |f| %>
  <%#= f.error_notification %>
  <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
    <%= f.input :img_url %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn-primary" %>
  </div>
<% end %>
</div>
<div class="links">

 <p><%= link_to flats_path do %>
  <i class="fas fa-backward">Back</i>
  <% end %>
  </p>
  </div>
  </div>
